<!doctype html>
<h3>Results for {{ filename }}</h3>

<div class="card">
  <div class="card-body">
    <div class="table-responsive" id="table-responsive" style="text-align: center;">
      <table class="table" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>{{ results.columns[0] }}</th>
            <th>{{ results.columns[1] }}</th>
            <th>{{ results.columns[2] }}</th>
            <th>{{ results.columns[3] }}</th>
          </tr>
        </thead>
        <tbody>
          {% for key, row in results.iterrows() %}
            <tr>
              <td>{{ row[row.index[0]] }}</td>
              <td>{{ row[row.index[1]] }}</td>
              <td>{{ row[row.index[2]] }}</td>
              <td>{{ row[row.index[3]] }}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
  </div>
</div>
